
<!-- 
<div>
    <a class="internal-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <a class="internal-link" href="{{ site.baseurl }}/" title="Notas">notas</a>
    <a class="internal-link" href="{{ site.baseurl }}/" title="Temas">temas</a>
    <a class="internal-link" href="{{ site.baseurl }}/" title="Temas">about</a>
    <a class="internal-link" href="{{ site.baseurl }}/about" title="About">now</a>
</div>
-->

<nav class="db dt-l w-100 border-box pa3 ph5-l">
    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="{{ site.baseurl }}/">{{ site.title }}</a></a>

    <div class="fr dib dn-l pt1">    
      <div id="hamburger" class="hamburger hamburger--squeeze">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
  
  </div>

  <div class="dn dtc-l v-mid w-75-l tr-l mt4" id="mobilenav">

    <a class="w-100 w-auto-l link dim dark-gray f6 f5-l dib pv2 mr4-l ttu" href="#" title="Notas">notas</a>
    <a class="w-100 w-auto-l link dim dark-gray f6 f5-l dib pv2 mr4-l ttu" href="#" title="Temas">temas</a>
    <a class="w-100 w-auto-l link dim dark-gray f6 f5-l dib pv2 mr4-l ttu" href="#" title="About">about</a>
    <a class="w-100 w-auto-l link dim dark-gray f6 f5-l dib pv2 mr4-l ttu" href="#" title="Now">now</a>
      
  </div>
</nav>