<nav class="db dt-l w-100 mw9 border-box pa4-l pa3 ph5-l center">
    <a class="link dim dark-gray f5 f4-l dib pt2 pt0-l dtc-l v-mid" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="fr dib dn-l pt1">    
      <div id="hamburger" class="hamburger hamburger--squeeze">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
  
    </div>

  <div class="dn dtc-l v-mid w-75-l tr-l mt4" id="mobilenav">

    <a class="w-100 w-auto-l link dim dark-gray f5 f4-l dib pv2 mr4-l" href="/notas" title="notas">notas</a>
    <a class="w-100 w-auto-l link dim dark-gray f5 f4-l dib pv2 mr4-l" href="/temas" title="temas">temas</a>
    <a class="w-100 w-auto-l link dim dark-gray f5 f4-l dib pv2 mr4-l" href="/about" title="about">about</a>
    <a class="w-100 w-auto-l link dim dark-gray f5 f4-l dib pv2 mr4-l" href="/now" title="now">now</a>
      
  </div>
</nav>


  <script>
    var $hamburger = $(".hamburger");
    $hamburger.on("click", function(e) {

      $hamburger.toggleClass("is-active");
      $("#mobilenav").toggleClass("dn");
      $("#mobilenav").toggleClass("flex");
      $("#mobilenav").toggleClass("flex-wrap");

    }); 
  
  </script>