---
layout: default
---
<body class="sans-serif">
    <header class="tc pa3 pa4-ns">
      <h1 class="f3 f2-ns">Posts Tagged: {{ page.tag }}</h1>
    </header>
    <main class="mw7 center">
      <ul class="list pl0">
        {% for note in site.notes %}
          {% if note.tags contains page.tag %}
            <li class="pa3 pa4-ns ba b--black-10 mb3">
              <img src="{{ note.image }}" alt="{{ note.title }}" class="w-100 mb2">
              <h2 class="f4 f3-ns"><a href="{{ note.url }}" class="link blue">{{ note.title }}</a></h2>
              <p class="measure lh-copy">{{ note.description }}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </main>