---
layout: default
---

<h1>Posts tagged with "{{ page.tag }}"</h1>

<ul class="list pl0">
  {% for note in site.notes %}
    {% if note.tags contains page.tag %}
      <li class="pa3 pa4-ns mb3">
        <a href="{{ note.url }}" class="db overflow-hidden image-container">
          <img src="{{ note.image }}" alt="{{ note.title }}" class="w-100 mb2 note-image">
        </a>
        <h2 class="f4 f3-ns"><a href="{{ note.url }}" class="link dim dark-gray">{{ note.title }}</a></h2>
        <p class="measure lh-copy f6 dark-gray tj-ns">{{ note.description | truncatewords: 25, "..." }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>